.gallery {
  overflow: hidden;
  /* height: 100%; */
}

.inner {
  /* display: flex; */
  white-space: nowrap;
  transition: transform 0.3s;
}

.gallery-item {
  display: inline-flex;
  justify-items: start;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  height: fit-content !important;
  color: #fff;
  position: relative;
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators > button {
  padding: 5px;
  margin: 5px;
}

.indicators > button.active {
  /* background-color: green; */
  color: red;
  padding: 5px;
  margin: 5px;
}
